.dashboard {
    max-width: 1200px;

    .title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            margin-bottom: 2rem;
            font-size: 2rem;
        }
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }


    ul>li>div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        padding: 1rem 0;

        .actions {
            display: flex;
            align-items: center;
            gap: 1.3rem;


            .btn {
                border-color: #fff;
                color: #fff;
                max-height: 43px;
                min-height: 43px;
                transition: all .15s ease;

                &:hover {
                    background-color: transparent;
                    border: 1px solid var(--yellow);
                    transform: scale(.95);
                }
            }
        }
    }
}