footer {
    margin-top: auto;
    padding: 1.5rem;
    border-top: 1px solid #fff;

    p {
        text-align: center;
        width: 100%;

        span {
            color: #c2c21b;
            font-weight: bold;
        }
    }
}